<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <script type="text/javascript">
      var url_map = {
        "https://benninger.ca/?p=22":'https://benninger.ca/posts/keeping-files-safe-and-available-with-unison-and-backuppc/',
        "https://benninger.ca/?p=16":'https://benninger.ca/posts/building-xen-3-4-testing-and-linux-2-6-31-10-domain0-kernel-on-debian-testing/',
        "https://benninger.ca/projects-2/omega-editor-theme/":'https://benninger.ca/posts/omega-gedit-theme-v0-1/',
        "https://benninger.ca/?page_id=29":'https://benninger.ca/projects/omega-editor-theme/',
        "https://benninger.ca/2011/01/25/importerror-no-module-named-xen-on-fresh-compiled-xen-4-0-1-with-debianubuntu/":'https://benninger.ca/posts/importerror-no-module-named-xen-on-fresh-compiled-xen-4-0-1-with-debianubuntu/',
        "https://benninger.ca/2011/04/04/writing-to-a-file-from-the-kernel/":'https://benninger.ca/posts/writing-to-a-file-from-the-kernel/',
        "https://benninger.ca/?p=63":'https://benninger.ca/posts/writing-to-a-file-from-the-kernel/',
        "https://benninger.ca/2011/08/06/converting-those-pesky-m4a-files-to-mp3-on-linux/":'https://benninger.ca/posts/converting-those-pesky-m4a-files-to-mp3-on-linux/',
        "https://benninger.ca/?p=87":'https://benninger.ca/posts/converting-those-pesky-m4a-files-to-mp3-on-linux/',
        "https://benninger.ca/?p=90":'https://benninger.ca/posts/how-to-get-answers-on-a-developer-or-help-irc-channel/',
        "https://benninger.ca/?p=27":'https://benninger.ca/posts/udev-and-optiarc-high-cpu-utilization-fix/',
        "https://benninger.ca/?p=42":'https://benninger.ca/posts/adding-support-for-an-unsupported-power-manager-in-emulab/',
        "https://benninger.ca/2011/01/21/sbx00-azalia-hda-sound-with-debian-squeeze/":'https://benninger.ca/posts/sbx00-azalia-hda-sound-with-debian-squeeze/',
        "https://benninger.ca/2011/01/13/debian-squeeze-xen-4-kernel-2-6-32-27-misery/":'https://benninger.ca/posts/debian-squeeze-xen-4-kernel-2-6-32-27-misery/',
        "https://benninger.ca/2011/07/19/vim-use-selected-text-as-input-to-a-shell-command/":'https://benninger.ca/posts/vim-use-selected-text-as-input-to-a-shell-command/',
        "https://benninger.ca/2013/06/12/force-snow-leopard-to-consider-a-shell-script-safe/":'https://benninger.ca/posts/how-to-force-snow-leopard-to-consider-a-shell-script-safe/',
        "https://benninger.ca/2012/11/14/creating-an-akka-actor-from-a-dynamically-loaded-jar-file-in-scala/":'https://benninger.ca/posts/creating-an-akka-actor-from-a-dynamically-loaded-jar-file-in-scala/',
        "https://benninger.ca/2013/05/07/virtualizing-osx-nic-card-setup/":'https://benninger.ca/posts/virtualizing-osx-nic-card-setup/',
        "https://benninger.ca/2013/04/26/akkascala-deploying-an-actor-remotely/":'https://benninger.ca/posts/akkascala-deploying-an-actor-remotely/',
        "https://benninger.ca/2011/01/05/debugging-kernel-hard-locks-with-netconsole/":'https://benninger.ca/posts/debugging-kernel-hard-locks-with-netconsole/',
        "https://benninger.ca/?p=26":'https://benninger.ca/posts/generating-ioctl-commands-for-char-drivers/',
        "https://benninger.ca/2010/10/01/omega-gedit-theme-v0-1/":'https://benninger.ca/posts/omega-gedit-theme-v0-1/',
        "https://benninger.ca/2010/11/06/omega-eclipse-theme-v0-1/":'https://benninger.ca/posts/omega-eclipse-theme-v0-1/',
        "https://benninger.ca/?p=94":'https://benninger.ca/posts/omega-eclipse-theme-v0-1/',
        "https://benninger.ca/2010/11/06/adding-support-for-unsupported-switches-to-emulab/":'https://benninger.ca/posts/adding-support-for-unsupported-switches-to-emulab/',
        "https://benninger.ca/?p=99":'https://benninger.ca/posts/cloud-2012-and-sophoslabs-and-scala-oh-my/',
        "https://benninger.ca/?p=17":'https://benninger.ca/posts/winter-olympics-silverlight-streams-now-working-with-linux/',
        "https://benninger.ca/?p=48":'https://benninger.ca/posts/attachmates-canadian-offices/',
        "https://benninger.ca/?p=74":'https://benninger.ca/posts/pyvizer/',
        "https://benninger.ca/?p=22":'https://benninger.ca/posts/keeping-files-safe-and-available-with-unison-and-backuppc/',
        "https://benninger.ca/?p=16":'https://benninger.ca/posts/building-xen-3-4-testing-and-linux-2-6-31-10-domain0-kernel-on-debian-testing/',
        "https://benninger.ca/projects-2/omega-editor-theme/":'https://benninger.ca/posts/omega-gedit-theme-v0-1/',
        "https://benninger.ca/2011/01/25/importerror-no-module-named-xen-on-fresh-compiled-xen-4-0-1-with-debianubuntu/":'https://benninger.ca/posts/importerror-no-module-named-xen-on-fresh-compiled-xen-4-0-1-with-debianubuntu/',
        "https://benninger.ca/?p=61":'https://benninger.ca/posts/importerror-no-module-named-xen-on-fresh-compiled-xen-4-0-1-with-debianubuntu/',
        "https://benninger.ca/2011/04/04/writing-to-a-file-from-the-kernel/":'https://benninger.ca/posts/writing-to-a-file-from-the-kernel/',
        "https://benninger.ca/2011/08/06/converting-those-pesky-m4a-files-to-mp3-on-linux/":'https://benninger.ca/posts/converting-those-pesky-m4a-files-to-mp3-on-linux/',
        "https://benninger.ca/?p=90":'https://benninger.ca/posts/how-to-get-answers-on-a-developer-or-help-irc-channel/',
        "https://benninger.ca/?p=27":'https://benninger.ca/posts/udev-and-optiarc-high-cpu-utilization-fix/',
        "https://benninger.ca/?p=42":'https://benninger.ca/posts/adding-support-for-an-unsupported-power-manager-in-emulab/',
        "https://benninger.ca/2011/01/21/sbx00-azalia-hda-sound-with-debian-squeeze/":'https://benninger.ca/posts/sbx00-azalia-hda-sound-with-debian-squeeze/',
        "https://benninger.ca/?p=60":'https://benninger.ca/posts/sbx00-azalia-hda-sound-with-debian-squeeze/',
        "https://benninger.ca/2011/01/13/debian-squeeze-xen-4-kernel-2-6-32-27-misery/":'https://benninger.ca/posts/debian-squeeze-xen-4-kernel-2-6-32-27-misery/',
        "https://benninger.ca/2011/07/19/vim-use-selected-text-as-input-to-a-shell-command/":'https://benninger.ca/posts/vim-use-selected-text-as-input-to-a-shell-command/',
        "https://benninger.ca/?p=80":'https://benninger.ca/posts/vim-use-selected-text-as-input-to-a-shell-command/',
        "https://benninger.ca/2013/06/12/force-snow-leopard-to-consider-a-shell-script-safe/":'https://benninger.ca/posts/how-to-force-snow-leopard-to-consider-a-shell-script-safe/',
        "https://benninger.ca/2012/11/14/creating-an-akka-actor-from-a-dynamically-loaded-jar-file-in-scala/":'https://benninger.ca/posts/creating-an-akka-actor-from-a-dynamically-loaded-jar-file-in-scala/',
        "https://benninger.ca/2013/05/07/virtualizing-osx-nic-card-setup/":'https://benninger.ca/posts/virtualizing-osx-nic-card-setup/',
        "https://benninger.ca/2013/04/26/akkascala-deploying-an-actor-remotely/":'https://benninger.ca/posts/akkascala-deploying-an-actor-remotely/',
        "https://benninger.ca/?p=130":'https://benninger.ca/posts/akkascala-deploying-an-actor-remotely/',
        "https://benninger.ca/2011/01/05/debugging-kernel-hard-locks-with-netconsole/":'https://benninger.ca/posts/debugging-kernel-hard-locks-with-netconsole/',
        "https://benninger.ca/?p=26":'https://benninger.ca/posts/generating-ioctl-commands-for-char-drivers/',
        "https://benninger.ca/2010/10/01/omega-gedit-theme-v0-1/":'https://benninger.ca/posts/omega-gedit-theme-v0-1/',
        "https://benninger.ca/2010/11/06/omega-eclipse-theme-v0-1/":'https://benninger.ca/posts/omega-eclipse-theme-v0-1/',
        "https://benninger.ca/?p=94":'https://benninger.ca/posts/omega-eclipse-theme-v0-1/',
        "https://benninger.ca/2010/11/06/adding-support-for-unsupported-switches-to-emulab/":'https://benninger.ca/posts/adding-support-for-unsupported-switches-to-emulab/',
        "https://benninger.ca/?p=99":'https://benninger.ca/posts/cloud-2012-and-sophoslabs-and-scala-oh-my/',
        "https://benninger.ca/?p=17":'https://benninger.ca/posts/winter-olympics-silverlight-streams-now-working-with-linux/',
        "https://benninger.ca/?p=48":'https://benninger.ca/posts/attachmates-canadian-offices/',
        "https://benninger.ca/?p=74":'https://benninger.ca/posts/pyvizer/'
      }
      if( location.href in url_map){
          document.write("<meta http-equiv=\"refresh\" content=\"0;url="+url_map[location.href]+"\">")
      }
  </script>

  <title>{{ page.title }}</title>

  <meta name="author" content="{{ site.author.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300'
    rel='stylesheet' type='text/css'>

  <link href="/css/up.css" rel="stylesheet">

  <!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57x57-precomposed.png">
  <link rel="shortcut icon" href="/favicon.ico">

</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{ site.title }}</a>
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav pull-right hidden-print">
          <li>
            <a class="hidden-sm" title="My Github" href="https://github.com/cbenning/">
              <i class="icon-github icon-large"></i>
            </a>
            <a class="visible-sm" title="My Github" href="https://github.com/cbenning/">
              <i class="icon-github icon-large"></i>
              My Github
            </a>
          </li>
          <li>
            <a class="hidden-sm" title="My Twitter" href="https://twitter.com/chrisbenninger">
              <i class="icon-twitter icon-large"></i>
            </a>
            <a class="visible-sm" title="My Twitter" href="https://twitter.com/chrisbenninger">
              <i class="icon-twitter icon-large"></i>
              My Twitter
            </a>
          </li>
          <li>
            <a class="hidden-sm" title="Projects" href="/projects">
              <i class="icon-beaker icon-large"></i>
            </a>
            <a class="visible-sm" title="About me" href="/projects">
              <i class="icon-beaker icon-large"></i>
              Projects
            </a>
          </li>
          <li>
            <a class="hidden-sm" title="About me" href="/about">
              <i class="icon-user icon-large"></i>
            </a>
            <a class="visible-sm" title="About me" href="/about">
              <i class="icon-user icon-large"></i>
              About me
            </a>
          </li>
          <li>
            <a class="hidden-sm" href="/atom.xml" title="Atom Feed">
              <i class="icon-rss icon-large"></i>
            </a>
            <a class="visible-sm" href="/atom.xml" title="Atom Feed">
              <i class="icon-rss icon-large"></i>
              Atom Feed
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    {{ content }}
    <br/>
    <div class="pull"></div>
    {% include twitter.html %}
    <hr>
    {% if page.comments %}
    {% include disqus.html %}
    {% endif %}
  </div>


  <div id="footer" class="hidden-print">
    <section class="meta">
      <div class="container">
        <div class="row">
          <div class="col col-lg-2 col-offset-4">
            <a href="https://twitter.com/{{ site.author.twitter }}">
              <i class="icon icon-twitter icon-4x"></i>
              <div>Follow me on Twitter.</div>
            </a>
          </div>
          <div class="col col-lg-2 next">
            <a href="https://github.com/{{ site.author.github }}">
              <i class="icon icon-github icon-4x"></i>
              <div>
                See my github profile.
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
  {% include analytics.html %}
  {% include gauges.html %}
</body>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="/js/up.js"></script>
</html>
